@using Microsoft.AspNetCore.Http
@using ShopDaki.Extensions
@using ShopDaki.Utility

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        .icon_chat_facebook {
            background: url("https://www.viettablet.com/design/themes/duchuymobile/media/images/facebook-messenger.png?1574736690") no-repeat;
            width: 64px;
            height: 64px;
            background-size: cover;
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Footer-Dark.css" />
    <link rel="stylesheet" href="~/css/Navigation-with-Button.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/Team-Boxed.css" />
    <link rel="stylesheet" href="~/css/Team-Clean.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="~/fonts/ionicons.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/f793bfb6f2.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-md bg-light navigation-clean-button">
            <div class="container">
                <a class="navbar-brand text-info" asp-area="" asp-controller="Home" asp-action="Index">DAKI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductsList" asp-action="Index">Products</a>
                        </li>

                        @if (User.IsInRole(SD.SuperAdminEndUser))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Managements
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Contact" asp-action="Index">Contacts Management</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="GroupProduct" asp-action="Index">Group Product</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="OrderDetails" asp-action="Index">Order Details</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="OrderStatistics" asp-action="Index">Order Statistics</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">Admin Users</a>
                                </div>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>

                        @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
                        {
                            <li style="color:white">
                                <a class="nav-link" asp-area="Customers" asp-controller="ShoppingCart" asp-action="Index">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count;
                                    }
                                    (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white">
                                <a class="nav-link" asp-area="Customers" asp-controller="ShoppingCart" asp-action="Index">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;
                                    (0)
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <a href="https://www.messenger.com/" class="icon_chat_facebook"></a>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div id="Map-ShopDaKi" class="col-md-6 item text">
                        <h3>Map to ShopDaki</h3>
                        <iframe allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEBGNYcsskKEZ3wzdxCicHWrz_XAOnC3o&amp;q=University+of+Technology+and+Education+Ho+Chi+Minh+city%2C+V%C3%B5+V%C4%83n+Ng%C3%A2n%2C+Linh+Chi%E1%BB%83u%2C+Th%E1%BB%A7+%C4%90%E1%BB%A9c%2C+Ho+Chi+Minh+City&amp;zoom=15"
                                width="100%" height="250px"></iframe>
                    </div>
                    <div class="col item social">
                        <a href="#"><i class="icon ion-social-facebook"></i></a>
                        <a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><i class="icon ion-social-snapchat"></i></a>
                        <a href="#"><i class="icon ion-social-instagram"></i></a>
                    </div>
                </div>
                <p class="copyright">DAKI © 2019</p>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>