@model ShopDaki.Models.ViewModel.ProductsViewModel
@using ShopDaki.Extensions
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info pb-2">Create Product</h2>

<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Product.Name"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Product.Name" />
            </div>
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.Status"></label>
            </div>
            <div class="col-5">
                <input class="form-control" asp-for="Product.Status" />
            </div>
        </div>
        <br />

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Product.Images"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="from form-control" />
            </div>

        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="GroupProducts"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Product.GroupProductID" asp-items="Model.GroupProducts.ToSelectListItem(Model.Product.GroupProductID)" class="form-control"></select>
            </div>
        </div>

        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.Date"></label>
            </div>
            <div class="col-5">
                <input class="form-control" asp-for="Product.Date" />
            </div>
        </div>

        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.Price"></label>
            </div>
            <div class="col-5">
                <input class="form-control" asp-for="Product.Price" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.Detail"></label>
            </div>
            <div class="col-5">
                <input class="form-control" asp-for="Product.Detail" />
            </div>
        </div>
        <br />

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn btn-success" asp-action="Index">Back to list</a>
        </div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}